@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
  background-color: #fafafa;
  color: #1e293b;
}

.pt-navbar {
  padding-top: 5rem;
}
